<div class="cart-container">
    <div class="cart-panel">
        <div class="cart-item">
            <app-cart-item></app-cart-item>
        </div>
        <h2>Total: $ 4</h2>
    </div>
    <div class="form-container">
        <form>
            <label for="fullName">Full name</label>
            <input placeholder="Minimun is 3 characters" type="text" name="fullName" required minlength="3"
                class="input-text" />
            <label for="address">Address</label>
            <input placeholder="Minimun is 6 characters" type="text" name="address" required minlength="6"
                class="input-text" />
            <label for="card">Credit card</label>
            <input placeholder="Minimun is 16 characters" class="input-text" type="number" name="card" required
                minlength="16"  />
            <button  type="submit">
                Submit
            </button>
        </form>
    </div>
</div>