<div class="detail-container" *ngIf="product; else notFound">
  <img
    class="product-image"
    [src]="product.url"
    [alt]="product.name + ' image'"
  />
  <div class="detail-item">
    <h3>{{ product.name }}</h3>
    <p>${{ product.price | number: '1.2-2' }}</p>
    <p>Description: {{ product.description }}</p>
    
    <select class="select-input">
      <option *ngFor="let option of selectOptions" [value]="option.value">
        {{ option.label }}
      </option>
    </select>

    <div style="margin-top: 10px">
      <button class="btn btn-primary" type="button">Add To Cart</button>
      <div class="back-link" [routerLink]="['/product']">Back to products</div>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="loading-message">
    <i class="fa fa-spinner fa-spin loading-icon"></i>
    Product not found.
    <div class="back-link" [routerLink]="['/product']">Back to products</div>
  </div>
</ng-template>