<div class="cart-container"  *ngFor="let option of cart?.products">
    <div class="cart-item">
        <img class="cart-item-image" src="{{option.url}}" alt="" />
        <div class="cart-item-details">
            <h3>{{ option.name}}</h3>
            <p>$ {{ option.price | number: '1.2-2' }}</p>
            <p>{{ option.description}}</p>
            <input type="number" min="0" required [(ngModel)]="option.quantity" (change)="updateTotal(option.id, option.quantity)" />
        </div>
    </div>
</div>